h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
h2 {
  position: relative;
  top: -0.5em;
  font-size: 1rem;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #fefbf3;
}
.city {
  text-align: center;
  display: block;
  margin: auto;
}

.date {
  position: relative;
  left: -1em;
}
