.container-sm {

  background: linear-gradient(to right, #c1c161 0%, #c1c161 0%, #d4d4b1 100%);
  margin-top: 1.5em;
  width: clamp(350px, 60vw, 550px);
  padding: 2.5em 0.3em 0.25em 0.3em;
  border-radius: 2rem;
}

.night-background {
  background-image: linear-gradient(#f7ded3, #4f3d65);
}

.sun-background {
  background-image: linear-gradient(#f7c3c3, #eeb37b);
}

.rain-background {
  background-image: linear-gradient(#d5eff4, #5a6965);
}