.moon {
  text-align: center;
}
#icon {
  display: block;
  margin: auto;
  width: 90px;
}
.temp {
  font-size: 5rem;
  text-align: center;
  position: relative;
  top: -2rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
 .tempC,
 .tempF{
  background-color: transparent;
  border: none;
   font-family: "Source Code Pro", monospace;
   font-weight: 600
}
 .celsius-and-fahrenheit {
  text-align: center;
  font-size: 1.25rem;
  position: relative;
  top: -2em;
  right: 0.75em;
}
.f {
  text-align: center;
}
button.tempC:link,
button.tempC:visited {
  text-decoration: none;
  color: black;
}
button.tempF:link,
button.tempF:visited {
  text-decoration: none;
  color: black;
}
