.icon {
  text-align: center;
}

.temp {
  font-size: clamp(4rem, 10vw, 5rem);
  text-align: center;
  position: relative;
  top: -2rem;
  padding-top: 1rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}


.mood {
  font-family: "Source Code Pro", monospace;
  color: #fefbf3;
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: -3em;
  text-transform: capitalize;
  font-weight: 600;
}

.deets-grid {
  display: grid;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fefbf3;
  font-weight: 700;
  position: relative;
  top: -2rem;
}

@media (min-width: 50em) {
  .deets-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .btn1:hover {
    background-color: black;
    color: #fefbf3;
    border-color: #fefbf3;
  }

  .btn1:focus {
    background-color: white;
    border-color: #f7ded3;
    color: black;
  }
}

.feel,
.wind,
.humid {
  font-weight: bold;
  color: black;
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
}

#degree,
#mph,
#percent {
  font-size: 0.9rem;
}

.form-control,
.city {
  display: block;
  margin: auto;
}

#search-city {
  margin-top: 1rem;
}

.form-control {
  display: block;
  margin: auto;
  font-family: "Source Code Pro", monospace;
  border-color: #f7ded3;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border-width: 0.15rem;
  border-radius: 20rem;
  width: 13rem;
}

.form-control:focus {
  border-color: black;
  box-shadow: 0px 0px 0px #f7ded3;
}

input[type="text"] {
  background-color: white;
}

.btn1 {
  border-radius: 100%;
  border-style: solid;
  margin-top: 1em;
  border-color: #f7ded3;
  border-width: 0.2rem;
}

.buttons {
  text-align: center;
}

h1 {
  font-size: clamp(3rem, 10vw, 4.5rem);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h2 {
  position: relative;
  top: -0.5em;
  font-size: 1rem;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: #fefbf3;
}

.city {
  text-align: center;
  display: block;
  margin: auto;
}